.file-info {
  display: block;
  text-align: center;
  padding: 0.357rem 0;

  .file-info__item {
    display: inline-block;

    &:not(:first-child) {
      &::before {
        content: '\02022';
        color: $black;
        padding: 0 0.5rem;
      }
    }
  }
}

.file__pending {
  @extend .center-screen;
  &::after {
    @include loader;
    border-width: 8px;
    height: 6em;
    width: 6em;
  }
}

pre {
  white-space: pre-wrap;
}
